@model DriverInfo.Models.Driver

@{
    ViewData["Title"] = "Details";
}

<h2 class="text-center mb-4">@Model.DriverName</h2>

<div class="text-center mb-4">
    <h4>Registration number: @Model.CarReg</h4>
</div>

<h4>Filter Events by Date</h4>
<form method="get" asp-action="Details" asp-route-id="@Model.DriverID" class="form-inline mb-4">
    <label class="mr-2">From:</label>
    <input type="date" name="startDate" value="@ViewBag.StartDate?.ToString("yyyy-MM-dd")" class="form-control mr-2" />

    <label class="mr-2">To:</label>
    <input type="date" name="endDate" value="@ViewBag.EndDate?.ToString("yyyy-MM-dd")" class="form-control mr-2" />
    <div class="text-center mt-3">
        <button type="submit" class="btn btn-success btn-lg">Filter</button>
        <a asp-action="Details" asp-route-id="@Model.DriverID" class="btn btn-secondary btn-lg">Reset</a>
    </div>   
</form>
<hr/>
<div class="text-center mb-4">
    <h3>Events</h3>
    <h4>Drivers Earnings + Spendings: @Model.TotalAmountAllEvents kr</h4>
    
</div>
<div class="text-center mt-4">
    <a asp-action="Edit" asp-route-id="@Model.DriverID" class="btn btn-primary btn-block mt-4">Edit Driver</a>
    <a asp-action="Create" asp-controller="Event" asp-route-driverId="@Model.DriverID" class="btn btn-success btn-block mt-4">Add Event</a>
    <a asp-action="Index" class="btn btn-secondary btn-block mt-4">Back to List</a>
</div>
<table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount In</th>
                <th>Amount Out</th>
                <th>Responsible Employee</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var eventItem in Model.Events)
            {
            <tr>
                
                    <td>@eventItem.NoteDate.ToShortDateString()</td>
                    <td>@eventItem.NoteDescription</td>
                    <td>@eventItem.AmountIn kr</td>
                    <td>@eventItem.AmountOut kr</td>
                    <td>@eventItem.ResponsibleEmployee?.Name</td>
                    <td>
                        <a asp-controller="Event" asp-action="Edit" asp-route-id="@eventItem.EventID" class="btn btn-outline-warning btn-sm">Edit</a>
                    <a asp-controller="Event" asp-action="Delete" asp-route-id="@eventItem.EventID" class="btn btn-outline-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

